.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-self: end;

}


.header-inner {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-decoration: none;
}

article {
    width: 100%;
    float: none;
    height: auto;
}

.one-third {
    width: 100%;
    float: none;
    text-align: center;
}

aside {
    width: 100%;
    float: none;
}

.one-fourth {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    float: none;
    justify-items: center;
}

.inner-wrapper,
.inner-wrapper-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* justify-self: center; */
    float: none;
    width: 100%;
    background-color: #C3D7DF;
}

* {
    margin: 0 auto;
}

.inner-wrapper-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    float: none;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    justify-self: end;
}